<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <link rel="stylesheet" href="/styles/index.css">
  <link rel="stylesheet" href="/styles/navbar.css">
  <link rel="stylesheet" href="/styles/form-page.css">

  <title><%= title %></title>
</head>

<body>
  <%- include("partials/navbar.ejs") %>

  <main>
    <% if (locals.errorMessages?.length) { %>
      <% errorMessages.forEach((message) => { %>
        <section class="sign-in-error">
          <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor"
            stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
            <circle cx="12" cy="12" r="10" />
            <line x1="12" x2="12" y1="8" y2="12" />
            <line x1="12" x2="12.01" y1="16" y2="16" />
          </svg>
          <p><%= message %></p>
        </section>
      <% }); %>
    <% } %>

    <% if (locals.successMessages?.length) { %>
      <% successMessages.forEach((message) => { %>
        <section class="sign-in-success">
          <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
            stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
            <circle cx="12" cy="12" r="10" />
            <line x1="12" x2="12" y1="8" y2="12" />
            <line x1="12" x2="12.01" y1="16" y2="16" />
          </svg>
          <p>
            <%= message %>
          </p>
        </section>
      <% }); %>
    <% } %>

    <div>
      <% if (page === "sign-in") { %>
        Welcome back!
      <% } else if (page === "sign-up") { %>
        Welcome onboard!
      <% } %>
    </div>
    <form action="<%= actionRoute %>" method="POST">
      <div>
        <label for="username">Username</label>
        <input type="text" name="username" id="username" autofocus required value="<%= locals.defaults?.username %>">
      </div>
      <div>
        <label for="password">Password</label>
        <input type="password" name="password" id="password" required>
      </div>
      <% if (page === "sign-up") { %>
        <div>
          <label for="confirm-password">Confirm Password</label>
          <input type="password" name="confirmPassword" id="confirm-password" required>
        </div>
        <div>
          <label for="first-name">First name</label>
          <input type="text" name="firstName" id="first-name" required value="<%= locals.defaults?.firstName %>">
        </div>
        <div>
          <label for="last-name">Last name</label>
          <input type="text" name="lastName" id="last-name" required value="<% locals.defaults?.lastName %>">
        </div>
      <% } %>
      <button type="submit">
        <% if (page === "sign-in") { %>
          Sign In
        <% } else if (page === "sign-up") { %>
          Sign Up
        <% } %>
      </button>
    </form>
  </main>
</body>

</html>
